.content {
    margin    : 0 auto;
    padding   : 0;
    max-width : 78rem;
    width     : 94%;
}

.info {
    border-top    : .2rem solid #00B1FF;
    border-bottom : .2rem solid #00B1FF;
    margin        : 0 auto 1.5rem;
    padding       : 1rem;
    display       : table;
    width         : 100%;
    max-width     : 74rem;
    position      : relative}

.info p {margin : 0;}
