.mainNav {
    margin : 0 0 2rem
}

@media screen and (min-width : 64em) {

    .mainNav {
        background-color : #F7BB71;
        overflow         : auto;
        z-index          : 1000;
        width            : 20.6rem;
        padding          : 0;
        margin           : 0;
        left             : 0;
        text-align       : center
    }

    .mainNav, .mainNav:before {
        display  : block;
        position : fixed;
        height   : 100%;
        top      : 0
    }

    .mainNav:before {
        content    : "";
        background : url(../../assets/images/frameborder.jpg) top repeat-y;
        width      : .6rem;
        left       : 20.6rem;
        cursor     : auto
    }

    .inner {
        display  : block;
        top      : 5rem;
        position : -webkit-sticky;
        position : sticky;
        margin   : 2rem auto
    }

}

.mainNav h2 {

    color          : #7C5DEC;
    text-transform : uppercase;
    font-size      : 1.8rem;
    margin         : 0 0 2rem
}

.mainNav img {
    margin : .5rem
}

.mainNav ul {
    list-style-type : none;
    border-color    : #FFE3C1 #A97745 #A97745 #FFE3C1;
    border-width    : .3rem;
    width           : 165px;
    margin          : auto;
    padding         : 0 3px;
    position        : relative
}

.mainNav ul, .mainNav ul li {
    display          : block;
    border-style     : solid;
    background-color : #F7BB71

}

.mainNav ul li {
    width        : 100%;
    margin       : .3rem 0;
    padding      : 0;
    border-color : #7A4A0F #F1E0CB #F1E0CB #7A4A0F;
    border-width : .1rem
}

.mainNav ul li a {
    color      : #151717;
    display    : block;
    padding    : 1rem .3rem;
    text-align : center;
    font-size  : 1.8rem;
    width      : 100%
}

.mainNav ul ul {
    padding         : 0;
    list-style-type : none;
    position        : relative
}

.mainNav ul ul, .mainNav ul ul li {
    display : block;
    width   : 100%;
    margin  : 0;
    border  : 0
}

.mainNav ul ul li {
    padding : 2px 0
}

.mainNav ul ul li a {
    display   : block;
    margin    : 0;
    padding   : 0;
    width     : 100%;
    border    : 0;
    font-size : 14px
}
